@import url(./variable.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}
body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-1);
    outline: 1px solid slategrey;
}
body::-webkit-scrollbar-thumb {
    background: var(--color-2);
    outline: 1px solid slategrey;
}

.scroll-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-1);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 5px 5px 0px var(--color-2);
    cursor: pointer;
}
.firstScrollProperty {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
}

.preloader {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.preloader .center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader .center .logo-hima {
    width: 200px;
}

.preloader .center img {
    width: 400px;
}

.preloader .image-helper {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: 200px;
}

.preloader .preloader-text {
    animation-name: preloader-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes preloader-text {
    0% {
        color: #333;
    }

    50% {
        color: var(--color-1);
    }

    100% {
        color: var(--color-);
    }
}

.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: var(--color-1);
    border-radius: 100%;

    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
    background-color: var(--color-2);
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.navbar {
    transition: all 0.4s;
    width: 100%;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: var(--black-1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: var(--color-2);
    text-decoration: none;
}

.active2 a {
    color: var(--color-2) !important;
}

.navbar.active .navbar-brand {
    color: #555;
}

.logo-navbar {
    width: 83px;
    height: 73px;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: var(--black-1);
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: var(--color-2);
    }
}

@media (max-width: 575.98px) {
    .text-welcome {
        font-size: 1.5rem !important;
    }

    #spotify {
        height: 135vh;
    }

    .preloader .center img {
        width: 100px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .text-welcome {
        font-size: 2.5rem !important;
    }

    #spotify {
        height: 125vh;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

.btn-color-1 {
    color: #fff;
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.btn-color-1:hover {
    color: #fff;
    background-color: #64070e;
    border-color: #64070e;
}

.btn-color-2 {
    color: #fff;
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.btn-color-2:hover {
    color: #fff;
    background-color: #bd5e31;
    border-color: #bd5e31;
}

.btn-outline-color-2 {
    color: var(--color-2);
    border-color: var(--color-2);
    padding: 14px;
}

.btn-outline-color-2:hover {
    color: #fff;
    background-color: var(--color-2);
}

/* header */
#header {
    width: 100%;
}
.header-container {
    background-image: url("../img/bg-home.jpg");
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* height: auto; */
    /* text-align: center; */
    /* padding: 0 20px; */
}

.text-color-1 {
    color: var(--color-1) !important;
}

.text-color-2 {
    color: var(--color-2) !important;
}

.text-welcome {
    font-size: 4rem;
}

.mycontainer {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    /* margin-right: auto; */
    /* margin-left: auto; */
}

/* kabinet section */

#mykabinet {
    background-color: var(--color-1);
    /* width: 100%;
    height: 100vh;
    padding-top: 30px;
    color: #fff; */
}

.logo-kabinet {
    box-shadow: 0px -10px 30px #fff;
    -moz-box-shadow: 0px -10px 30px #fff;
    -webkit-box-shadow: 0px -10px 30px #fff;
    -khtml-box-shadow: 0px -10px 30px #fff;
    border-radius: 20px;
}

#kabinet .mycontainer .row div .flex-column {
    height: 100vh;
}
@media (max-width: 767.98px) {
    #kabinet .mycontainer .row div .flex-column {
        height: 100%;
    }
    #kabinet .mycontainer .row div .flex-column .flex-row {
        width: 100%;
    }

    #kabinet .mycontainer .row .col-md-6 .flex-column .flex-row div p,
    #kabinet .mycontainer .row .col-md-6 .flex-column .flex-row div h1 {
        text-align: center;
    }
}

/* alb */
#be {
    background-color: var(--color-2);
    width: 100%;
    height: auto;
    padding: 30px 70px;
    color: #fff;
}

#struktur {
    background-color: #0f0e0e;
    width: 100%;
    height: auto;
    padding: 30px 70px;
    color: #fff;
}

#struktur .row .text-center div h4 {
    color: var(--color-2);
}
#struktur .row .text-center div h6 {
    color: #d9d9d6;
}

@media screen and (max-width: 576px) {
    #struktur h2 {
        font-size: 20px;
    }
}

.big-line-1 {
    /* position: absolute; */
    width: 100%;
    background-color: var(--color-1);
    height: 10px;
    border-radius: 2px;
    margin: 2rem 0;
}

#visi-misi {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 30px 70px;
    color: var(--black-2);
}

#spotify {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    /* padding-top: 70px; */
    /* padding-bottom: 70px; */
    padding: 70px 70px;
    /* margin-bottom: 40px; */
    color: var(--black-2);
}

#gallery {
    background-color: var(--color-2);
    width: 100%;
    height: auto;
    padding: 30px 70px;
    color: var(--black-2);
}

/* footer */
#footer {
    padding-top: 70px;
    background-color: #111;
    width: 100%;
    height: 50vh;
    padding: 70px 70px;
    color: #fff;
    overflow: hidden;
}

.social-footer:hover {
    cursor: pointer;
    fill: #f1f1f1;
    filter: brightness(1.2);
}

footer {
    width: 100%;
    height: 50px;
    background-color: var(--color-1);
    color: #fff;
}

/* gallery */
.viewed {
    position: fixed;
    z-index: 9999999999;
    opacity: 0;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    transform: translateY(-150%);
}

.viewed .content {
    width: 50%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
}

.viewed .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    transition-delay: 0.4s;
    text-align: center;
    transform: scale(0) translate(-50%, -50%);
}

.viewed .content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    /* background: var(--color-1); */
    opacity: 0;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

.viewed .content:hover::after {
    opacity: 0.9;
}

.viewed .content .caption {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 22;
    text-align: center;
    width: 85%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-shadow: 0px 5px 8px #444;
    transition: all 0.4s;
    transition-delay: 0.4s;
    opacity: 0;
}

.viewed .content:hover .caption {
    transform: translate(-50%, -60%);
    opacity: 1;
}

.viewed .content .caption h1 {
    padding-bottom: 40px;
}

.viewed .content .caption p {
    color: #eee;
}

.viewed.active {
    opacity: 1;
    transform: translateY(0%);
}

@media (max-width: 767px) {
    .viewed.active .content {
        width: 85%;
        margin-top: 5%;
    }
}

.viewed.active .content img {
    transform: scale(1) translate(-50%, -50%);
}

.viewed .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s;
}

.viewed .close:hover {
    color: #fff;
    transform: rotate(90deg);
}

.gallery-wrap .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.gallery-wrap .caption button {
    transform: scale(0);
    transition: all 0.4s;
    transition-delay: 0.4s;
}

.gallery-wrap img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: all 0.4s;
}

/* .gallery-wrap:first-child img {
  height: 40vh;
} */
.gallery-wrap img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: all 0.4s;
}

.gallery-wrap .description .title h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.gallery-wrap .description .title h3 span {
    padding-bottom: 5px;
    border-bottom: 2.5px solid rgb(62, 63, 154);
}

.gallery-wrap .title p {
    color: #b0b0b0;
    text-align: center;
}

.gallery-wrap::after {
    position: absolute;
    content: "";
    width: auto;
    height: auto;
    z-index: 7;
    /* margin: 0 10px; */
    text-align: center;
    top: 0;
    left: 0;
    transition: all 0.4s;
}

.gallery-wrap:hover::after {
    background: rgba(0, 0, 0, 0.7);
}

.gallery-wrap:hover img {
    filter: blur(3px) brightness(0.6);
}

.gallery-wrap:hover .caption button {
    transform: scale(1);
}

/* .gallery-wrap:first-child img {
  height: 40vh;
} */
.gallery-wrap img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: all 0.4s;
}

.gallery-wrap .title h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.gallery-wrap .title h2 span {
    padding-bottom: 5px;
    border-bottom: 2.5px solid rgb(62, 63, 154);
}

.gallery-wrap .title p {
    color: #b0b0b0;
    text-align: center;
}

/* contact styles */
#contact {
    background-color: var(--color-2);
    width: 100%;
    color: #fff;
}

.contact-detail-container {
    min-height: 60vh;
}

.contact-detail {
    padding: 30px 70px;
    max-width: 90vw;
}

.contact-detail > iframe {
    width: 100%;
    height: 300px;
}

.contact-detail .social-media-links:hover {
    transform: translateY(-5px);
    transition: 0.1s;
}

@media screen and (max-width: 576px) {
    .contact-detail {
        padding: 30px 0;
    }

    .contact__informasi {
        padding: 30px 20px !important;
    }
}

#pimpinan {
    background-color: #fff;
    width: 100%;
    color: var(--black-2);
}

#pimpinan .mycontainer .flex-column {
    height: 100vh;
}

@media (max-width: 767.98px) {
    #pimpinan .mycontainer .flex-column {
        height: 100%;
    }
}
@media screen and (max-width: 576px) {
    #pimpinan .mycontainer .flex-column .flex-row div h3 {
        font-size: 20px;
    }
}

.about-item-timeline {
    border-left: 1.2px solid #ddd;
    padding-left: 16px;
    margin: 0 auto;
    width: auto;
    display: inline-block;
}
.about-item-timeline .item-timeline-title {
    text-align: center;
    font-size: 16px;
}
.about-item-timeline .item-timeline {
    position: relative;
}
.about-item-timeline .item-timeline .item-timeline-date {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 16px), -50%);
    padding: 8px 16px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /*background: var(--yellow);*/
    /* background: url("../img/bg-line.png"); */
    border: 1px solid #ddd;
    border-right-width: 1px;
    font-family: var(--font-1);
    font-weight: bold;
    color: #333;
    box-shadow: -2px 0px 5px #eee;
}
.about-item-timeline .item-timeline:last-child > .item-timeline-date {
    color: #fff;
    font-size: 16px;
    background: var(--color-1);
}
.about-item-timeline .item-timeline img {
    width: 100%;
}
.about-item-timeline-wrap {
    padding-right: 140px;
    display: flex;
    justify-content: center;
}
.about-item-timeline .item-timeline {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1.2px dashed #ddd;
}
.about-item-timeline .item-timeline:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px dashed #ddd;
}
.about-item-timeline .item-timeline .item-timeline-title {
    margin-top: 8px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}
.about-item-timeline .item-timeline .item-timeline-title:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

/* tables */
@media (max-width: 576px) and (max-width: 767.98px) {
    .about-item-timeline {
        padding-left: 0px;
        border-left: 0px;
        margin: 2rem 0;
    }
    .about-item-timeline .item-timeline .item-timeline-date {
        transform: translate(0%, 0%);
        top: 0;
        border-radius: 0px;
        border-bottom-right-radius: 24px;
        /* padding: 16px; */
    }
}
#link {
    background-color: var(--black-1);
    height: 100%;
}

#link img {
    width: 100px;
}

#link hr {
    border-color: var(--color-2);
    width: 24%;
    margin: 22px auto;
}

#link footer {
    background-color: var(--black-1);
    margin-top: 30px;
    font-weight: bold;
}

#logo {
    background-color: #0f0e0e;
    width: 100%;
    height: auto;
    padding: 0 70px;
    color: var(--black-2);
    /* margin: 2rem 0; */
}
.logo1:hover,
.logo2:hover,
.logo3:hover,
.panah:hover,
.tahun:hover,
.lamp path:hover:not(:first-child),
.inspira-text path:hover,
.triple-dots path:hover {
    fill: #f6f6f6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    #footer .row .col-md-12 h1 {
        font-size: 20px;
    }
    #footer .row .col-md-12 a {
        font-size: 14px;
    }
}

#sejarah {
    background-color: #0f0e0e;
    width: 100%;
    height: auto;
    padding: 0 70px;
    color: var(--black-2);
}
svg {
    max-width: 100%;
}

#sejarah .mycontainer .flex-column {
    height: 100vh;
}
@media (max-width: 767.98px) {
    #sejarah .mycontainer .flex-column {
        height: 100%;
    }

    .mycontainer {
        padding-right: 15px;
        padding-left: 15px;
    }

    .text-footer {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .mycontainer {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.text-light {
    color: var(--grey-5) !important;
}

#logo-kabinet {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0 70px;
    color: var(--black-2);
}

.pcb:hover {
    stroke: #f6f6f6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.desc-logo-kabinet h5 {
    color: var(--ins-color-1);
}

/* Blog */
.blog-main {
    max-width: 1165px;
    margin: auto;
}

.blog-content .blog-article {
    padding: 0 1rem;
}

.blog-content aside.media-social {
    position: static;
}

.blog-content .media-social .media-social-container a {
    width: 35px;
}

@media (min-width: 576px) {
    .blog-content .blog-article {
        padding: 0 5rem;
    }

    .blog-content aside.media-social {
        position: sticky;
        top: 100px;
    }
}

#komunitas {
    background-color: var(--black-1) !important;
}

.bg-black {
    background-color: var(--black-1) !important;
}

.card-hover {
}

.card-hover:hover {
    transform: translate(0px, -15px);

    transition: 0.5s ease-in-out;
    background-color: var(--color-2) !important;
    /* box-shadow: 0px -10px 50px #fff; */
    box-shadow: 0px 50px 100px -50px rgb(114, 114, 114) !important;
}
